
/* Import google font rubik */
@import url('https://fonts.googleapis.com/css2?family=Rubik&display=swap');

body {
  background-image: url('https://wallpaperaccess.com/full/217097.jpg');
  background-repeat: no-repeat;
  background-size: cover;
}

#header{
  text-align: center;
  width: 100%;
  height: 20%;
  font-family: 'Rubik', sans-serif;  
  font-size: 2em; 
  color: white;
  text-shadow: 5px 5px 5px black;  
}
/* game board table */
#game {
  position: relative;  
}

#board{
  margin: 0 auto;
  background-image: url('https://media3.giphy.com/media/YbFasFa6Fh5HW/giphy.gif?cid=ecf05e47bz49wdzgstea9i64xvvsp6wb7lxvecdcwaxgjuv2&rid=giphy.gif');
  background-repeat: no-repeat;
  background-size: cover;
}

#board td {
  width: 6em;;
  height: 6em;
  border: solid 2px white;    
}

/* pieces are div within game table cells: draw as colored circles */

.piece {
  /* TODO: make into circles */   
  width: 6em;
  height: 6em;
  border-radius: 50%; 
  position: relative; 
  animation: fall 2s ease-in-out forwards;
} 

@keyframes fall {
  100% {
  top: 0;
  }
}

/* TODO: make pieces red/blue,  depending on player 1/2 piece */
.piece.p1 {
  /* background-color: #F40009; */
  background-image: url('https://iconbug.com/data/a8/512/ef584533952d0278d747d4bf1d064f8b.png');
  background-repeat: no-repeat;
  background-size:cover;  
}
.piece.p2 {
  /* background-color: #1E90FF; */
background-image: url('https://iconbug.com/data/9b/512/799ee8f7d91c50cdbb31b0c3af57a0b9.png');
  background-repeat: no-repeat;
  background-size:cover;  
}
/* column-top is table row of clickable areas for each column */

#column-top td {
  border: dashed 5px #8DA399;
  background-color: black;  
}

#column-top td:hover {
  background-color: #007FFF;
}
